@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Default font across website */
    font-family: 'SF Pro Display', sans-serif;
  
    color-scheme: only light;
    color: #000000;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }